#root {
  text-align: center;
}

.custom-paper {
  width: auto !important;
}

.bg-color {
  background: #1c92d2;
}

.container-weather-home {
  border-radius: 16px !important;
  background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);
  background: linear-gradient(to top, #f2fcfe, #1c92d2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  transition: "all 0.5s ease";
}
